<div class="container login-view">
				
				<div class="row">
					<div class="login-other-half col-md-6">

					</div>
					<div class="col-md-6 login-half">
						<div class="well">
							<form class="form-horizontal" name="loginForm">
								<fieldset>
									<legend>
										Welcome! Please Log In
									</legend>
									<div class="form-group">
										<label class="col-md-2 control-label" for="username">Username:</label>
										<div class="col-md-10">
										<input class="form-control" id="username" name="username" type="text" placeholder="Username" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label" for="password">Password:</label>
										<div class="col-md-10">
										<input class="form-control" id="password" name="password" type="password" required placeholder="Password">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-5">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="rememberMe" checked> Remember Me?
												</label>
											</div>
										</div>
										<div class="col-sm-5 forgot-pass-link">
											<a href="#" class="js-open-modal" data-modal-id="popup" id="forgotPassword">
												<em>Forgot Password?</em>
											</a>
										</div>

									</div>
									<div class="form-group">
										<div class="col-md-offset-2 col-md-2">
											<input type="button" class="btn btn-primary" value="Login" id="loginBtn">
										</div>
										<div class="col-md-2">
											<div class="btn btn-primary add-user">Add User</div>
										</div>	
										<div class="col-md-8 has-error col-md-offset-2">
											<p class="login-error"></p>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<div id="popup" class="modal-box">  
		          <header>
		            <a href="#" class="js-modal-close close">×</a>
		            <h3>Reset Your Password</h3>
		          </header>
		          <div class="modal-body">
		          	<form class="form-horizontal" name="resetPasswordForm" id="resetPasswordForm">
		          	<fieldset>
			            <div class="form-group">
			            	<label class="col-md-2 control-label" for="email">E-Mail</label>
			            	<div class="col-md-10">
			            		<input class="form-control" id="email" name="email" type="email" required placeholder="E-Mail">
			            	</div>
			            </div>
			            <div class="form-group">
						<div class="col-md-offset-2 col-md-10 ">
			            	<p class="password-reset-info text-info">Password reset link will be sent to your above given E-Mail ID</p>
			            </div>
			            </div>
			            <div class="form-group">
			            	<div class="col-md-offset-2 col-md-2">
			            		<input type="submit" class="password-reset-submit btn btn-primary" value="Submit">
			            	</div>
			            </div>
		            </fieldset>
		            </form>
		          </div>
		          <footer>
		         
		            <button class="btn btn-primary js-modal-close">Close</button>
		          </footer>
			</div>
			</div>