<div class="user-detail-form-wrapper">
<form class="form-horizontal user-detail-form">
	<fieldset>
        <legend>
            Registration Form
        </legend>
		<div class="form-group">
			<label class="control-label col-md-2" for="firstname">
				First Name
			</label>
			<div class="col-md-2">
				<input class="form-control" name="firstname" id="firstname" required placeholder="First Name">
			</div>
            <label class="control-label col-md-2" for="lastname">
                Last Name
            </label>
            <div class="col-md-2">
                <input class="form-control" name="lastname" id="lastname" placeholder="Last Name">
            </div>
            <label class="control-label col-md-2" for="email">
                E-Mail
            </label>
            <div class="col-md-2">
                <input class="form-control" name="email" type="email" id="email" placeholder="E-Mail">
            </div>
		</div>
		
		<div class="form-group">
			
            <label class="control-label col-md-2" for="datepicker">
                D.O.B
            </label>
            <div class='col-md-2'>
                <input type='text' class="form-control" name="datepicker" id="datepicker" placeholder="Date of Birth">
            </div>

            <label class="control-label col-md-2">
                Gender
            </label>
            <div class="col-md-2">
                <label class="radio-inline"><input type="radio" checked name="gender">Male</label>
                <label class="radio-inline"><input type="radio" name="gender">Female</label>
            </div>
            <label class="control-label col-md-2">
            </label>
            <div class="col-md-2">
            </div>
		</div>
		
        <div class="form-group">
        	<label class="control-label col-md-2" for="country">
				Country
        	</label>
        	<div class="col-md-2">
        		<select class="form-control" id="country">
                    <option disabled selected>Select country</option>
        			<option>India</option>
        		</select>
        	</div>
            <label class="control-label col-md-2" for="state">
                State
            </label>
            <div class="col-md-2">
                <select class="form-control" id="state">
                    <option selected disabled>Select state</option>
                    <option>Andhra Pradesh</option>
                    <option>Telangana</option>
                    <option>Karnataka</option>
                </select>
            </div>
            <label class="control-label col-md-2" for="city">
                City
            </label>
            <div class="col-md-2">
                <select class="form-control" id="city">
                    <option selected disabled>Select city</option>
                    <option>Hyderabad</option>
                    <option>Vishakhapatnam</option>
                    <option>Kakinada</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
        	<label class="control-label col-md-2">
        		Skills
        	</label>
        	<div class="col-md-10">
        		<div class="checkbox">
				  <label class="form-check-inline"><input class="form-check-input" type="checkbox" value="">.Net</label>
				</div>
				<div class="checkbox">
				  <label class="form-check-inline"><input class="form-check-input" type="checkbox" value="">JAVA</label>
				</div>
				<div class="checkbox">
				  <label class="form-check-inline"><input class="form-check-input" type="checkbox" value="">Php</label>
				</div>
				<div class="checkbox">
				  <label class="form-check-inline"><input class="form-check-input" type="checkbox" value="">JavaScript</label>
				</div>
        	</div>
        </div>
        
        <div class="form-group text-center form-btn-group">
        	<button type="submit" class="btn btn-primary btn-save-profile">
        		Save
                <a href class="js-open-modal" data-modal-id="save-profile-popup"></a>
        	</button>
        	<label class="btn btn-primary btn-cancel-profile-edit">
        		Cancel
        	</label>
            <label class="btn btn-primary btn-back-to-login">
                Back to Login
            </label>
        </div>
	</fieldset>
</form>
<div class="modal-box" id="save-profile-popup">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h3>Profile Saved</h3>
        </header>
        <div class="modal-body modal-body-profile-saved">
        </div>
        <footer>
             <button class="btn btn-primary js-modal-close">Close</button>
        </footer>
    </div>
</div>
